<h2>Please login:</h2>
<div class="controls">
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="Enter username">
    <input type="password" name="password" placeholder="Enter password">
    <input type="submit" value="Login">
</form>
<a href="/signup"><button>Create an Account</button></a>
</div>