<div class="textBorder">
  <h2>Welcome to CHESSMIXED!</h2>
</div>
<div class="controls">
  <form action="/login" method="POST">
    <input type="text" name="username" placeholder="Enter username" autofocus>
    <input type="password" name="password" placeholder="Enter password">
    <input class="button" type="submit" value="LOGIN">
  </form>
  <a href="/signup"><button>NEW ACCOUNT</button></a>
</div>
<div class="boardBorder">
  <img src="img/art/chess-hero2.png" class="heroImg" alt="landing hero image">
</div>