<h2>Please create an account:</h2>

<form action="/signup" method="POST">
    <input type="text" name="name" placeholder="Enter name">
    <input type="text" name="username" placeholder="Choose username">
    <input type="password" name="password" placeholder="Choose password">
    <input type="submit" value="Create account">
</form>
