<h2>Please create an account:</h2>

<div class="controls">
<form action="/signup" method="POST">
    <input type="text" name="name" required placeholder="Enter name">
    <input type="text" name="username" required placeholder="Choose username">
    <input type="password" name="password" required placeholder="Choose password">
    <input type="submit" value="Create account">
</form>
</div>