<h2>Your Games</h2>

<!-- <div id="testDisplay">
  <div id="testBoard"></div>
</div> -->

<ul>
  <% games.forEach(game => { %>

  <li class="gameContainer">
    <div id="<%= game._id %>" class="boardThumbnail"> 
      <span class="fen" hidden><%= game.fen %></span>
    </div>
  </li>

  <% }) %>
</ul>