<main class="fullView freeMode">
  <!-- <label for="gameTitle"><input type="text" name="gameTitle" id="gameTitleInput" placeholder="Name for this game?"></label> -->
  <label for="playerBlackInput">Player Black: 
  <input type="text" name="playerBlackInput" id="playerBlackInput" value="Opponent" placeholder="Who is Playing Black?"></input></label>
  <div class="boardBorder">
    <div style="width: 420px" class="board">
    </div>
  </div>
  <label for="playerWhiteInput">Player White: 
  <input type="text" name="playerWhiteInput" id="playerWhiteInput" value="<%= user.name %>" placeholder="Who is Playing White?"></input></label>
  <div class="controls">
    <a href="/games" id="homeBtn"><button>BACK TO GAMES</button></a>
    <button id="startBtn">RESET BOARD</button>
    <button id="clearBtn">CLEAR BOARD</button>
    <button id="submitBtn">CREATE GAME</button>
  </div>
</main>
<script src="/new_edit.js" defer></script>