<main class="fullView freeMode">
  <!-- <label for="gameTitle"><input type="text" name="gameTitle" id="gameTitleInput" placeholder="Name for this game?"></label> -->
  <div class="playerName" id="playerBlackName">
    <label for="playerBlackInput">Player Black: </label><input type="text" id="playerBlackInput" value="Opponent" placeholder="Who is Playing Black?">
    <label for="blacktoMove">Black to move
      <input type="radio" id="blackToMove" name="currentTurn" value="b"></label>
  </div>

  <div class="boardBorder">
    <div style="width: 420px" class="board">
    </div>
  </div>
  <div class="playerName" id="playerWhiteName">
    <label for="playerWhiteInput">Player White: </label><input type="text" id="playerWhiteInput" value="<%= user.name %>" placeholder="Who is Playing White?">
    <label for="whiteToMove">White to move
      <input type="radio" id="whiteToMove" name="currentTurn" value="w" checked>
    </label>
  </div>
  <div class="controls">
    <a href="/games" id="homeBtn"><button>BACK TO GAMES</button></a>
    <button id="startBtn">RESET BOARD</button>
    <button id="clearBtn">CLEAR BOARD</button>
    <button id="submitBtn">CREATE GAME</button>
  </div>
</main>
<script src="/new_edit.js" defer></script>